

header {
    width: 100%;
    text-align: center;
    padding:0;
    margin:0;
}

hr {
    width: 50%;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}